@import url("assets/css/fonts.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
}
.app-header header {
  min-width: 300px;
}
.app-header h1 {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 32px;
}
.app-header input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.app-link {
  color: #61dafb;
}

.news-item {
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.news-item:last-child {
  margin-bottom: 0px !important;
}

.app-footer {
  margin-top: 15px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
}
